body
{
	background-color: grey;
	color: red;
}

table
{
	border: 1px solid black;
	color: black;
}

th
{
	border: 1px solid black;
	background-color: red;
}

td
{
	border: 1px solid red;
	background-color: gray;
	color: red;
}
